<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link th:href="@{/static/style.css}" href="/static/style.css" rel="stylesheet">
</head>
<body>
<nav>
    <ul id="linkList">
        <li><a href="index.html" th:href="@{/index}">Index</a></li>
        <li><a href="restaurants.html" th:href="@{/restaurants}">Restaurants</a></li>
        <li sec:authorize="hasAuthority('ADMIN')">
            <a th:href="@{/users/register/form}" href="register.html">Register user</a></li>
        <li sec:authorize="hasAuthority('ADMIN')">
            <a th:href="@{/admin/registerRestaurant/form}" href="registerRestaurant.html">Register restaurants</a></li>
        <li sec:authorize="hasAuthority('ADMIN')">
            <a th:href="@{/admin/registerFoodItem/form}" href="registerFoodItem.html">Register food items</a></li>
        <li sec:authorize="hasAuthority('USER')">
            <a th:href="@{/users/restaurantReview/form}" href="restaurantReview.html">Review restaurants</a></li>
    </ul>

    <form th:action="@{/logout}" action="#" class="form-inline" method="post">
        <div sec:authorize="isAuthenticated()">
            <button class="btn btn-outline-info" type="submit" value="Logout" id="logoutButton">Logout</button>
        </div>
        <div sec:authorize="isAnonymous()">
            <a class="btn btn-success" th:href="@{/login/form}" id="loginButton">Login</a>
        </div>
    </form>
</nav>
<section class="main-window">
    <h1>Register</h1>
    <form th:action="@{/register/process}" th:object="${form}" method="post">
        <table>
            <tr>
                <td>First name:</td>
                <td><label>
                    <input type="text" th:field="*{firstName}"/>
                </label></td>
                <td th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First name Error</td>
            </tr>
            <tr>
                <td>Last name:</td>
                <td><label>
                    <input type="text" th:field="*{lastName}"/>
                </label></td>
                <td th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last name Error</td>
            </tr>
            <tr>
                <td>Age:</td>
                <td><label>
                    <input type="number" th:field="*{age}"/>
                </label></td>
                <td th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age Error</td>
            </tr>
            <tr>
                <td>Email:</td>
                <td><label>
                    <input type="text" th:field="*{email}"/>
                </label></td>
                <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><label>
                    <input type="password" th:field="*{password}"/>
                </label></td>
                <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</td>
            </tr>
            <tr>
                <td>Confirm Password:</td>
                <td><label>
                    <input type="password" th:field="*{passwordConfirm}"/>
                </label></td>
                <td th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}">Password Confirm Error</td>
            </tr>
            <tr th:if="authenticated" sec:authorize="isAuthenticated()">
                <td>Make admin:</td>
                <td><label>
                    <input id="adminCheckbox" type="checkbox" th:field="*{admin}"/>
                </label></td>
            </tr>
        </table>
        <button id="submit" class="btn btn-primary" type="submit">Register</button>
    </form>
</section>
</body>
</html>